<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Create Job</title>
</head>
<body>

<h1>Create Job Request</h1>

<form method="POST">

    <label>Description:</label><br>
    <input type="text" name="description"><br><br>

    <label>Location:</label><br>
    <input type="text" name="location"><br><br>

    <label>Category:</label><br>
    <input type="text" name="category"><br><br>

    <button type="submit">Create Job</button>

</form>

</body>
</html>